*{
  /* border: #111 solid 1px; */
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  border-radius: 30px 30px 30px 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* second menu hamburger */
#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Masqué par défaut */
    background-color: #f0f0f0;
    transition: left 0.3s ease;
  }
  
  #sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  #sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
  }
  
  #content {
    margin-left: 0; /* Ajusté pour le sidebar caché */
    transition: margin-left 0.3s ease;
  }
  
  #hamburger {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Affichage quand le sidebar est visible */
  #sidebar.open {
    left: 0;
  }
  
  #content.open {
    margin-left: 250px;
  }

  /* navbar */
  .navbar{
    --bs-navbar-padding-y: 0rem;
  }

  /* organigramme */
  .organigramme {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .niveau {
    display: flex;
    justify-content: space-around; /* Espace les cartes uniformément */
    margin-bottom: 20px;
  }

  /* .card {
    position: relative;
  } */

  .ligne-connexion {
    position: absolute;
    width: 2px;
    background-color: #000;
  }

/* FONTS LATO google fonts */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* boutton active */
.list-group-item.active {
  background-color: rgb(60, 197, 227);
  border-color: rgb(60, 197, 227);
}

/* SELECTABLE ELEMENT */


#selected {
border-color: rgb(60, 197, 227);
}

  
